<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>아이디: <input name="username" placeholder="아이디" required/></label>
    </div>
    <div>
        <label>비밀번호: <input type="password" name="password" placeholder="비밀번호" required/></label>
    </div>
    <button type="submit">로그인</button>
    <a href="/join">회원가입</a>
</form>
<div th:if="${param.error}">
    <p style="color:red">아이디 또는 비밀번호가 올바르지 않습니다.</p>
</div>
</body>
</html>
